:root {
    /* Colors: */
    --negroletra: #082032;
    --blancofondo: #F9F9F9;
    --temperaturadetails: #A2DBFA;
    ---blanco: #FFFFFF;
    ---otherdetails: #353D4D;
    --negroinput: #171717;

}



body{
    background: url('https://wallpapercave.com/wp/wp5393061.jpg');
    background-position: cover;
    background-size: cover;

}
form{
    display: inline-block;
    align-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.weather-card{
    width: 30rem;
    background-color: #F7F7F7;
    border-radius: .75rem;
    box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.19);
    text-align: center;
}
.weather-form-input{
    width: 18rem;
    height: 2.5rem;
    border-radius: .25rem;
    padding: 1rem;
    margin: 0;
    outline: none;
    border: 1.75px solid #C8C6C6;
    background-color: #FFFFFF;
}
.weather-form-input:hover{
    border: 1.85px solid #000;
}
.weather-form-input:active{
    border: 1.85px solid #0F52BA;
}
.weather-form-input:focus{
    border: 1.95px solid #0F52BA;
}

.weather-city-notfound {
    color: #FF616D;
}

.weather-card-title-text{
    color: #082032;
    opacity: 1;
    padding: 1.5rem 0;
}

.weather-card-title {
    font-size: 4rem;
    line-height: 100%;
}

.weather-card-subtitle {
    font-size: 3rem;
    line-height: 75%;
}

.weather-card-content{
    width: 100%;
    background: linear-gradient(1deg,#96baff 0%, #5089c6 80%);
    color: #FFFFFF;
    padding: 1rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    margin: 0;
    text-align: center;
}

.city-ubication{
    font-size: 2.25rem;
    font-weight: 400;
}

.weather-temperature-details{
    text-align: center;
    margin-top: 2rem;
}
.city-day{
    font-size: 3.25rem;
    font-weight: 700;
}
.city-temperature{
    font-size: 8rem;
    line-height: 75%;
}
.city-weather{
    font-size: 3.25rem;
    font-weight: 700;
}

.weather-data-title{
    font-size: 1.75rem;
    font-weight: 500;
}
.weather-data-content{
    font-size: 1.25rem;
    font-weight: 300;
}

@media (max-width: 1024px) {
    .weather-card{
        width: 45rem;
        margin-top: 5rem;   
    }
    .weather-card-title{
        font-size: 5rem;
    }
    .weather-card-subtitle{
        font-size: 4rem;
    }
    .weather-form-input{
        width: 16rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .city-ubication{
        font-size: 3.5rem;
        font-weight: 400;
    }
    
    .weather-temperature-details{
        text-align: center;
        margin-top: 2.75rem;
    }
    .city-day{
        font-size: 4rem;
    }
    .city-temperature{
        font-size: 7.5rem;
        line-height: 75%;
    }
    .city-weather{
        font-size: 4rem;
    }
    
    .weather-data-title{
        font-size: 2.35rem;
        font-weight: 500;
    }
    .weather-data-content{
        font-size: 2.25rem;
        font-weight: 300;
    }
}

@media (max-width: 768px) {
    .container{
        min-height: 100vh;
    }
    .weather-card{
        margin: 0 1rem;
    }
    .weather-card-title{
        font-size: 3.75rem;
    }
    .weather-card-subtitle{
        font-size: 2.75rem;
    }
    .weather-form-input{
        width: 15rem;
        height: 2.75rem;
    }
    /*  */
    .city-ubication{
        font-size: 2.5rem;
        font-weight: 400;
    }
    .weather-temperature-details{
        text-align: center;
        margin-top: 1.5rem;
    }
    .city-day{
        font-size: 3rem;
    }
    .city-temperature{
        font-size: 7rem;
        line-height: 75%;
    }
    .city-weather{
        font-size: 3rem;
    }
    
    .weather-data-title{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .weather-data-content{
        font-size: 1.45rem;
        font-weight: 300;
    }
}

@media (max-width: 480px) {
    .container{
        min-height: 100vh;
    }
    .weather-card{
        margin: 0 1rem;
    }
    .weather-card-title{
        font-size: 2.75rem;
    }
    .weather-card-subtitle{
        font-size: 1.75rem;
    }
    .weather-form-input{
        width: 12.5rem;
        height: 2.25rem;
    }

    .city-ubication{
        font-size: 2rem;
        font-weight: 400;
    }
    
    .weather-temperature-details{
        text-align: center;
        margin-top: 1.25rem;
    }
    .city-day{
        font-size: 2.5rem;
    }
    .city-temperature{
        font-size: 6rem;
        line-height: 75%;
    }
    .city-weather{
        font-size: 2.5rem;
    }
    
    .weather-data-title{
        font-size: 1.15rem;
        font-weight: 500;
    }
    .weather-data-content{
        font-size: 1rem;
        font-weight: 300;
    }
}

@media (max-width: 375px) {
    .container{
        min-height: 100vh;
    }
    .weather-card{
        margin: 0 1rem;
    }
    .weather-card-title{
        font-size: 2.5rem;
    }
    .weather-card-subtitle{
        font-size: 1.5rem;
    }
    .weather-form-input{
        width: 11.5rem;
        height: 1.75rem;
        font-size: .75rem;
    }

    .city-ubication{
        font-size: 1.25rem;
        font-weight: 400;
    }
    
    .weather-temperature-details{
        text-align: center;
        margin-top: 1.25rem;
    }
    .city-day{
        font-size: 1.5rem;
    }
    .city-temperature{
        font-size: 5.75rem;
        line-height: 75%;
    }
    .city-weather{
        font-size: 1.5rem;
    }
    img{
        width: 75px;
    }
    .weather-data-title{
        font-size: 1rem;
        font-weight: 500;
    }
    .weather-data-content{
        font-size: 0.75rem;
        font-weight: 300;
    }
}

@media (max-width: 320px) {
    .container{
        min-height: 100vh;
    }
    .weather-card{
        margin: 0 1rem;
    }
    .weather-card-title{
        font-size: 2.25rem;
    }
    .weather-card-subtitle{
        font-size: 1.25rem;
    }
    .weather-form-input{
        width: 11rem;
        height: 1.5rem;
        font-size: .75rem;
    }

    .city-ubication{
        font-size: 1rem;
        font-weight: 400;
    }
    
    .weather-temperature-details{
        text-align: center;
        margin-top: 1rem;
    }
    .city-day{
        font-size: 1.25rem;
    }
    .city-temperature{
        font-size: 4.75rem;
        line-height: 75%;
    }
    .city-weather{
        font-size: 1.25rem;
    }
    img{
        width: 65px;
    }
    .weather-data-title{
        font-size: 0.75rem;
        font-weight: 500;
    }
    .weather-data-content{
        font-size: 0.65rem;
        font-weight: 300;
    }
}

/* Footer */

.network-icons{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.network-icons ul li{
    display: inline-block;
    margin: 0 5px;
    font-size: 25px;
    text-align: center;
}
.network-icons ul{
    padding: 0px;
}


.network-icons ul li a{
    display: block;
    height: 50px;
    width: 50px;
    padding-top: 12.5px;
    color: white;
    line-height: 50px;
    transition: .2s;
}
.network-icons ul a:hover{
    filter: blur(0.5px);
}
